<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010 by Andrew Moore -->
<!-- Licensing information appears at the end of this file. -->

<phpunit backupGlobals="true"
         bootstrap="Tests/bootstrap.php"
         backupStaticAttributes="true"
         colors="true">

  <!-- _REQUEST -->
  <php>
    <request name="iuser" value="testadmin"/>
    <request name="iuserpass" value="testadmin"/>
    <request name="iuname" value="Test Administrator"/>
    <request name="iufname" value="Test Administrator"/>
    <request name="igroup" value="admin"/>
    <request name="server" value="localhost"/>
    <request name="loginhost" value="localhost"/>
    <request name="port" value="3306"/>
    <request name="root" value="root"/>
    <request name="rootpass" value="Lrb4x4bf12"/>
    <request name="login" value="testopenemr"/>
    <request name="pass" value="testopenemr"/>
    <request name="dbname" value="testopenemr"/>
    <request name="collate" value=""/>
    <request name="site" value="default"/>
    <request name="source_site_id" value="1"/>
    <request name="clone_database" value="0"/>
    <request name="no_root_db_access" value="0"/>
    <request name="development_translations" value=""/>

    <server name="HTTP_HOST" value="localhost"/>
    <ini name="date.timezone" value="UTC"/>
  </php>

  <testsuites>
    <testsuite name="openemr">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory suffix=".php">Tests</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

</phpunit>
